/* Mobile first design starts from 320px */
body {
  background-color: black;
}
/* phone screen size from 576px and up */
@media (min-width: 576px) {
  body {
    background-color: red;
  }
}
/* tablet screen size from 768px and up */
@media (min-width: 768px) {
  body {
    background-color: green;
  }
}
/* desktop screen size 992px and up */
@media (min-width: 992px) {
  body {
    background-color: pink;
  }
}
/* x-large screen size from 1200px and up */
@media (min-width: 1200px) {
  body {
    background-color: yellow;
  }
}
/* xx-large screen from 1400 and up */
@media (min-width: 1400px) {
  body {
    background-color: blue;
  }
}
